.wp-block.image-columns {
	max-width: 100%;
	width: 100%;
	box-sizing: border-box;
}

.wp-block.content-column {
	max-width: 100%;
}

.image-columns .wp-icons-row {
	max-width: 100%;
}

.image-columns {
	width: 100%;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 3.125rem;
	padding-bottom: 3.125rem;
	@media screen and (min-width: $small-width) {
		padding-top: 3.25rem;
		padding-bottom: 4.25rem;
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}
}

.image-columns .content-columns .wrap > *:first-of-type {
	margin-top: 0;
}

.image-columns .block-wrapper {
	max-width: $max-cont-w - 300px;
	width: 100%;
	margin: 0 auto;
	@media screen and (min-width: $small-width) {
		padding-left: 1.875rem;
		padding-right: 1.875rem;
	}
}

.image-columns .img-container {
	position: relative;
	box-shadow: 20px 20px 0 $lighter-blue;
	@media screen and (min-width: $small-width) {
		box-shadow: 30px 30px 0 $lighter-blue;
	}
}

.image-columns .img-container:after {
	content: "";
	position: absolute;
	top: 0;
	right: -20px;
	border-left: 20px solid transparent;
  	border-right: 20px solid transparent;
 	border-bottom: 20px solid $lighter-blue;
	@media screen and (min-width: $small-width) {
		right: -30px;
		border-left: 30px solid transparent;
  		border-right: 30px solid transparent;
 		border-bottom: 30px solid $lighter-blue;
 	}
}

.image-columns .img-container:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -20px;
	border-left: 20px solid transparent;
  	border-right: 20px solid transparent;
 	border-top: 20px solid $lighter-blue;
	@media screen and (min-width: $small-width) {
		bottom: -30px;
		border-left: 30px solid transparent;
  		border-right: 30px solid transparent;
 		border-top: 30px solid $lighter-blue;
 	}
}

.image-columns .icons-row {
	padding-bottom: 0;
	@media screen and (min-width: $small-width) {
		padding-bottom: 0;
	}
}

.image-columns .block-editor-inner-blocks {
	width: 100%;
}

.image-columns > .block-wrapper > .block-content > .block-editor-inner-blocks > .block-editor-block-list__layout,
.image-columns > .block-wrapper > .block-content {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
}


.image-columns .faq:last-of-type {
	margin-bottom: 0;
}

.circle-mask .img-container img {
	width: 100%;
	clip-path: circle(45% at center);
}

div.image-columns.col-66 .content-columns .content-column,
.image-columns .content-columns .content-column {
	width: 100%;
	max-width: 100%;
	@media screen and (min-width: $small-width) {
		padding-left: 0;
		width: 100%;
		max-width: 100%;
	}
}

.image-columns.col-66 .content-column,
.image-columns.col-66 .content-columns {
	width: 100%;
	@media screen and (min-width: $small-width) {
		width: 66.66666%;
		max-width: 66.6666%;
	}
}

.image-columns .content-column,
.image-columns .content-columns {
	width: 100%;
	box-sizing: border-box;
	@media screen and (min-width: $small-width) {
		width: 50%;
		padding-left: 4.375rem;
	}
}

.image-columns .content-column {
	margin-bottom: 35px;
	@media screen and (min-width: $small-width) {
		margin-bottom: 0;
	}
}

.image-columns.col-66 .wp-block.icons-row,
.image-columns.col-66 .icons-row,
.image-columns.col-66 .image-col {
	width: 100%;
	@media screen and (min-width: $small-width) {
		width: 33.3333%;
		max-width: 33.3333%;
	}
}

.image-columns .wp-block.icons-row,
.image-columns .icons-row,
.image-columns .image-col {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	@media screen and (min-width: $small-width) {
		width: 50%;
		max-width: 50%;
	}
}

.img-container img {
	display: block;
	margin: 0 auto;
	position: relative;
}

.image-columns.img-right .content-column,
.image-columns.img-right .content-columns {
	@media screen and (min-width: $small-width) {
		padding-left: 0;
		padding-right: 1.25rem;
	}
}


.image-columns .icons-row .icon-cta {
	width: 50%;
	margin-bottom: 10px;
	@media screen and (min-width: $small-width) and (max-width: $med-width) {
		width: 50%;
		margin-bottom: 15px;
	}
	@media screen and (min-width: $med-width + 1px) {
		width: 33.3333%;
		margin-bottom: 20px;
	}
}

.image-columns.img-right.no-ds .content-columns {
	@media screen and (min-width: $small-width) {
		padding-left: 1.25rem;
	}
}

.image-columns .image-col {
	position: relative;
	margin-bottom: 25px;
	@media screen and (min-width: $small-width) {
		margin-bottom: 0;
	}
}

.image-columns.no-ds .image-col {
	box-shadow: none;
}

.image-columns .image-comp {
	margin-bottom: 1.25rem;
	position: relative;
	z-index: 2;
	@media screen and (min-width: $small-width) {
		margin-bottom: 0;
	}
}

.image-columns .content-column > *:first-child {
	margin-top: 0;
	margin-bottom: 15px;
	@media screen and (min-width: $small-width) {
		margin-bottom: 20px;
	}
}

.image-columns video {
	max-width: 100%;
	display: block;
	height: auto;
	border-radius: 10px;
}

.image-columns .wp-block-buttons  {
	margin-top: 25px;
	@media screen and (min-width: $small-width) {
		margin-top: 60px;
	}
}

.image-columns.img-right .image-col {
	order: 1;
	@media screen and (min-width: $small-width) {
		order: 2;
	}
}

.image-columns.img-right .content-columns {
	order: 2;
	@media screen and (min-width: $small-width) {
		order: 1;
	}
}


.playing .custom-video-button {
	display: none;
}

.custom-video-button {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	background: url(img/play-button.svg) no-repeat center center  / 100%;
	text-indent: -10000px;
	border-radius: 0;
	border: none;
	z-index: 2;
	transform: translate(-50%, -50%);
	cursor: pointer;
	opacity: .8;
	@media screen and (min-width: $small-width) {
		width: 80px;
		height: 90px;
	}
}