.wp-block.shortcode-section {
	width: 100%;
	max-width: 100%;
}

.shortcode-section {
	width: 100%;
	max-width: 100%;
	padding-bottom: 3.25rem;
	@media screen and (min-width: $small-width) {
		padding-bottom: 6.75rem;
	}
}

.triangles {
	background-image: url(img/bg-triangles.svg);
	background-position: bottom left;
	background-size: 150px;	
	background-repeat: no-repeat;
	@media screen and (min-width: $small-width) {
		background-size: 238px;
	}
}


.triangles-grey {
	background-image: url($triangle);
	background-position: bottom left;
	background-size: 125px;	
	background-repeat: no-repeat;
	@media screen and (min-width: $small-width) {
		background-size: 200px;
	}
}

.wpex.horizontal-timeline .horizontal-nav li:before {
	display: none;
}

.shortcode-section > .block-wrapper {
	width: 100%;
	max-width: $max-cont-w - 300px;
	padding-left: 0;
	padding-right: 0;
	margin: 0 auto;
	box-sizing: border-box;
	@media screen and (min-width: $small-width) {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}
}

.shortcode-section .section-header {
	padding-bottom: 1rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	@media screen and (min-width: $small-width) {
		padding-bottom: 1.25rem;
	}
}


.shortcode-section .wprev-slick-slider {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	@media screen and (min-width: $small-width) {
		padding-left: 0;
		padding-right: 0;
	}
}

.shortcode-section .header-intro-block {
	padding-bottom: 0;
	@media screen and (min-width: $small-width) {
		padding-bottom: 0
	}
}

.shortcode-section.testimonials-section {
	background: url(img/paint-texture.jpg) no-repeat center center /cover;
	@media screen and (min-width: $small-width) {
		padding-bottom: 8rem;
	}
}

.testimonials-section {
	position: relative;
}

.single-member-div.active[data-category="remote"] {
	display: block;
}

div.wpex.horizontal-timeline .horizontal-nav li.ex_s_lick-current + li.prev_item span.tl-point:before,
div.wpex.horizontal-timeline .horizontal-nav li span.tl-point i,
div.wpex.horizontal-timeline .horizontal-nav li span.tl-point:before {
	border-color: $grey;
}

div.wpex.horizontal-timeline .horizontal-nav li.prev_item span.tl-point:before {
	border-color: $navy;
}

div.wpex.horizontal-timeline .timeline-hr {
	border-color: $grey;
}

.wpex.horizontal-timeline .timeline-pos-select:before,
.wpex.horizontal-timeline .timeline-hr:before {
	display: none;
}

.single-member-div[data-category="remote"] {
	display: none;
}

div.wpex.horizontal-timeline .timeline-pos-select {
	border-bottom-color: $bg-color-7;
}

div.wpex.horizontal-timeline .ex_s_lick-prev, 
div.wpex.horizontal-timeline .ex_s_lick-next {
	width:45px;
	height: 45px;
	border-radius: 45px;
}

div.wpex.horizontal-timeline .wpex-timeline-label .timeline-media img {
	max-height: 375px;
	margin: 0;
}

div.wpex.horizontal-timeline.wpex-horizontal-left .timeline-media {
	width: 100%;
	@media screen and (min-width: $small-width) {
		width: 35%;
	}
}

div.wpex.horizontal-timeline.wpex-horizontal-left .timeline-media + div {
	width: 100%;
	@media screen and (min-width: $small-width) {
		width: 65%;
		border: 2px solid $grey;
	}
}

div.wpex h2 + .hidden-date + .wptl-excerpt,
div.wpex h2 + .wptl-excerpt {
	border-top: 2px dashed $grey;
}

div.wpex.horizontal-timeline .ex_s_lick-prev:hover,
div.wpex.horizontal-timeline .ex_s_lick-next:hover {
	color: white;
	background: $bg-color-7;
	border-color: $bg-color-7;
}

div.wpex.horizontal-timeline:not(.no-arr-top) .hor-container {
	padding: 0 45px;
	margin: 0 1.25rem;
	@media screen and (min-width: $small-width) {
		margin: 0 auto;
	}
}

div.wpex.horizontal-timeline .horizontal-content .ex_s_lick-slide {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

div.wpex.horizontal-timeline .horizontal-nav .ex_s_lick-prev {
	left: -45px;
}

div.wpex.horizontal-timeline .horizontal-nav .ex_s_lick-next {
	right: -45px;
}

div.wpex.horizontal-timeline:not(.ex-multi-item) .horizontal-nav .ex_s_lick-arrow.ex_s_lick-disabled,
div.wpex.horizontal-timeline .ex_s_lick-prev, 
div.wpex.horizontal-timeline .ex_s_lick-next,
div.wpex.horizontal-timeline .horizontal-nav li.ex_s_lick-current span.tl-point:before {
	color: $bg-color-7;
	border-color: $bg-color-7;
}

div.wpex.horizontal-timeline .horizontal-nav li.ex_s_lick-current span.tl-point:before {
	background: $bg-color-7;
}

div.wpex.horizontal-timeline.wpex-horizontal-left .timeline-media + div {
	padding: 20px;
	@media screen and (min-width: $small-width) {
		padding: 35px;
	}
}

div.wpex.horizontal-timeline .wpex-timeline-label h2 {
	margin-bottom: 25px;
	@media screen and (min-width: $small-width) {
		margin-bottom: 35px;
	}
}

div.wpex.horizontal-timeline .wpex-timeline-label h2 a,
div.wpex.horizontal-timeline .wpex-timeline-label h2 {
	text-transform: none;
	font-family: $font-body;
	font-weight: 900;
	font-size: 22px;
	color: $bg-color-7;
	@media screen and (min-width: $small-width) {
		font-size: 26px;
	}
}

