.contact-alt-section .block-wrapper {
	max-width: 1650px;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	margin: 0 auto;
}

.contact-alt-section .header-intro-block h2 {
	margin-bottom: 20px;
}

.contact-section .header-intro-block p:first-of-type {
	margin-top: 0;
}

.wp-block-separator {
	border: none;
	border-bottom: 2px dashed $grey;
	background: none;
	margin-top: 30px;
	margin-bottom: 30px;
	@media screen and (min-width: $small-width) {
		margin-top: 45px;
		margin-bottom: 45px;
	}
}

.contact-section.contact-alt-section .form-column {
	padding-left: 0;
	padding-right: 0;
}

.contact-alt-section.contact-section {
	padding-top: 3.75rem;
	padding-bottom: 3.75rem;
	@media screen and (min-width: $small-width) {
		padding-top: 6.875rem;
		padding-bottom: 6.875rem;
	}
}

.contact-section.contact-alt-section .form-column {
	width: 100%;
	padding-top: 0;
	padding-bottom: 0;
	@media screen and (min-width: $small-width) {
		width: 64%;
		max-width: 64%;
		padding-right: 3.75rem;
	
	}
}

.contact-alt-section .content-column {
	width: 100%;
	border: 2px solid $grey;
	padding: 25px 20px;
	@media screen and (min-width: $small-width) {
		width: 36%;
		max-width: 36%;
		padding: 50px 45px;
		margin-top: 4.0625rem;
	}
}

.contact-alt-section .content-column h1,
.contact-alt-section .content-column h2,
.contact-alt-section .content-column h3,
.contact-alt-section .content-column h4,
.contact-alt-section .content-column h5,
.contact-alt-section .content-column h6 {
	color: $red;
	font-weight: 700;
	margin-bottom: 1rem;
	@media screen and (min-width: $small-width) {
		margin-bottom: 1.25rem;
	}
}

.contact-alt-section .content-column p {
	margin-bottom: 0.75rem;
	margin-top: 0.75rem;
	@media screen and (min-width: $small-width) {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}

.contact-section.contact-alt-section .block-content {
	align-items: flex-start;
}