.wp-block.section-block {
	width: 100%;
	max-width: 100%;
}

.section-block {
	position: relative;
	padding-bottom: 3.5rem;
	@media screen and (min-width: $small-width) {
		padding-bottom: 4.5rem;
	}
}

.section-block .block-wrapper {
	max-width: $max-cont-w - 300px;
	margin: 0 auto;
	position: relative;
}


.section-block .wp-block:not(.callout) {
	max-width: 1120px;
}

.section-block > .block-wrapper > .wp-block-buttons,
.section-block > .block-wrapper > h1,
.section-block > .block-wrapper > h2,
.section-block > .block-wrapper > h3,
.section-block > .block-wrapper > h4,
.section-block > .block-wrapper > h5,
.section-block > .block-wrapper > h6,
.section-block > .block-wrapper > p,
.section-block > .block-wrapper > ul {
	max-width: 1120px;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	margin-left: auto;
	margin-right: auto;
}

.section-block .callout {
	margin-top: 2.5rem;
	@media screen and (min-width: $small-width) {
		margin-top: 4rem;
	}
}

.section-block .section-header {
	padding-bottom: 0.5rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

.section-block.keys {
	@media screen and (min-width: $small-width) {
		background-image: url(img/car_keys.png);
		background-size: 18%;
		background-repeat: no-repeat;
		background-position: -105px 45%;
	}
}


.section-block.wheel {	
	@media screen and (min-width: $small-width) {
		background-image: url(img/steering_wheel.png);
		background-repeat: no-repeat;
		background-size: 18%;
		background-position: calc(100% + 55px) 40%;
	}
}