.wp-block.cta {
	max-width: 100%;
	width: 100%;
}

.cta {
	position: relative;
}

.cta:before {
	content: "";
	position: absolute;
	bottom: 0;
	right: -4.2%;
	width: 25%;
	height: 0;
	transform: translateY(7.5%);
	padding-bottom: #{'min(150px, 48.4%)'};
	background: url(img/car_top-view.png.webp) no-repeat center center / contain;
	z-index: 1;
	max-width: 125px;
	@media screen and (min-width: $med-width + 200px) {
		padding-bottom: #{'min(650px, 48.4%)'};
		max-width: 315px;
	}
}

.cta .block-wrapper {
	width: 100%;
	text-align: center;
	position: relative;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	background: url(img/asphalt_bkg.jpg.webp) no-repeat center center / cover;
}

.editor-styles-wrapper .cta .wp-block-buttons {
	justify-content: center;
}


.cta .content *:first-of-type {
	margin-top: 0;
}

.cta .content,
.cta .links {
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	@media screen and (min-width: $small-width) {
		width: 50%;
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

.cta .links {
	@media screen and (min-width: $small-width) {
		justify-content: flex-start;
	}
}

.cta .content {
	margin-bottom: 25px;
	@media screen and (min-width: $small-width) {
		justify-content: flex-end;
		margin-bottom: 0;
	}
}

.cta .content * {
	@media screen and (min-width: $small-width) {
		padding-left: 34px;
		padding-right: 34px;
	}
}

.cta .block-content {
	width: 100%;
	max-width: 975px;
	margin: 0 auto;
	padding-top: 3.25rem;
	padding-bottom: 4.25rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	@media screen and (min-width: $small-width) {
		padding-top: 6.5rem;
		padding-bottom: 7.5em;
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}
}

.cta .wp-block-buttons {
	margin: 0 auto;
	justify-content: center;
	@media screen and (min-width: $small-width) {
		margin: 0;
	}
}

.cta .header-title {
	text-transform: none;
	font-family: $font-head-2;
	font-size: 23px;
	line-height: 32px;
	margin-bottom: 0;
	@media screen and (min-width: $small-width) {
		font-size: 28px;
		line-height: 40px;
	}
}

.cta .content-footer p {
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
	@media screen and (min-width: $small-width) {
		font-size: 22px;
		line-height: 34px;
	}
}