.hero__inner {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	width: 100%;
	@media screen and (min-width: $small-width) {
			position: relative;
	}
}

.hero-block-image {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

@for $i from 1 through 100 {
   [class*="wp-block"][data-scrolled='#{$i}'] .img-container:after {
   	background: rgba(255, 255, 255, $i/100);  
   	backdrop-filter: blur(#{$i * .15}px);
  }
}

.hero .hero-asset { 
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero background {
	background-image: linear-gradient(to bottom, rgba(235, 162, 58, .7)  17.5%, transparent 17.5%);
}

.hero background + br + background {
	background-image: linear-gradient(to bottom, rgba(191, 91, 50, .7)  17.5%, transparent 17.5%);
}

.hero .img-container:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.wp-block.hero {
	max-width: 100%;
	width: 100%;
	margin-bottom: 0;
	position: relative;
}

.hero .media-controls {
	 position: absolute;
	 z-index: 2;
}

.hero {
	position: relative;
	min-height: 375px;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	@media screen and (min-width: $small-width) {
		min-height: 660px;
	}
}

.hero.with-arrow {
	min-height: 450px;
	@media screen and (min-width: $small-width) {
		min-height: 880px;
	}
}

.hero.with-arrow:after {
	content:"";
	position: absolute;
	bottom: 20px;
	right: 50%;
	left: 50%;
	transform: translateX(-50%);
	height: 30px;
	width: 17px;
	background: url(img/down-arrow.svg) no-repeat center center / 100%;
	@media screen and (min-width: $small-width) {
		height: 40px;
		width: 25px;
		bottom: 45px;
	}
}

.hero .img-container {
	position: relative;
}

.hero .block-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
	@media screen and (min-width: $small-width) {
		position: static;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
	}
}

.hero-block-image-wrap {
	height: 100%;
	display: flex;
	min-height: 375px;
	flex-wrap: wrap;
	width: 100%;
	overflow: hidden;
	@media screen and (min-width: $small-width) {
		min-height: 660px;
	}
}

.hero.with-arrow .hero-block-image-wrap {
		min-height: 450px;
		@media screen and (min-width: $small-width) {
			min-height: 880px;
		}
}

.hero .wp-block-buttons {
	justify-content: center;
}

.hero .wp-block-buttons .wp-block-button {
	margin-left: 15px;
	margin-right: 15px;
	@media screen and (min-width: $small-width) {
		margin-left: 30px;
		margin-right: 30px;
	}
}

.hero h1 {
	margin-top: 0;
	color: white;
	margin-bottom: 15px;
}

.hero  p {
	font-size: 20px;
	line-height: 29px;
	color: white;
	margin-top: 1.5rem;
	@media screen and (min-width: $small-width) {
		font-size: 33px;
		line-height: 37px;
	}
}

.hero-block-image:after {
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .23);
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	clip-path: polygon(0 0%, 100% 0%, 100% 100%, 17% 100%, 0% 40%);
}

.hero-block-image:before {
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .22);
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	clip-path: polygon(0 0%, 100% 0%, 100% 100%, 12% 100%, 0% 57.5%);
}

.hero .description a {
	color: white;
}

.hero .hero-block-wrap {
	max-width: 1000px;
}

.hero-block-content {
	position: relative;
	z-index: 2;
	width: 100%;
	@media screen and (min-width: $small-width) {
		display: flex;
		align-items: center;
	}	
}

.hero-block-form {
	width: 100%;
	@media screen and (min-width: $med-width + 1px) {
		width: 33.33333%;
		margin-left: 16.66667%;
	}
	@media screen and (min-width: $small-width) and (max-width: $med-width) {
		width: 50%;
	}
}

.hero-block-image-wrap .img-container {
	width: 100%;
	display: flex;
}

.hero__inner .content-wrap {
	position: relative;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	width: 100%;
	max-width: $max-cont-w;
	display: flex;
	flex-wrap: wrap;
	z-index: 2;
	margin-top: 40px;
	margin-bottom: 40px;
	@media screen and (min-width: $small-width) {
		position: relative;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		width: 100%;
		margin-top: 80px;
		margin-bottom: 80px;
	}
}

.hero-block-wrap {
	width: 100%;
	margin: 0 auto;
}