.single-member-alt a {
	text-decoration: none;
}

#gs_team_area_1 h3.gs-member-name {
	background: transparent;
	color: $head-color;
	text-transform: none;
	padding: 0;
	margin-top: 15px;
	margin-bottom: 0;
	letter-spacing: 0.35px;
}

.single-member-alt h4.gs-member-desig-alt {
	margin-top: 0;
	font-weight: normal;
	font-size: 16px;
	color: $teal-blue;
}

.gs_team_filter .gs-filter-single-item.gs-col-lg-3 {
	box-sizing: border-box;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.gs-team--fixed-height .single-member .gs_team_image__wrapper img {
	// filter: grayscale(100%);
	transition-property: all;
}

.gs_team_area .gs-team-filter-cats li {
	line-height: 22px;
}

.single-member .single-member-name-desig {
	display: none;
}

.gs-filter-single-item:hover .gs_team_image__wrapper img {
	filter: none;
}

.single-member:hover .gs_team_overlay {
	display: none;
}

.gs_team .col-full {
	margin-bottom: 25px;
	@media screen and (min-width: $small-width) {
		margin-bottom: 35px;
	}
}

.gs_team_area {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	@media screen and (min-width: $small-width) {
		padding-left: 0;
		padding-right: 0;
	}
}

.single-member:hover .single-member-name-desig {
	display: block;
	left: 0;
	transform: translateX(0);
}


#gs_team_area_1 .single-member .gs-member-name {
	color: white;
	background: $body-color !important;
	font-family: $font-body-light;
	font-size: 18px;
}

.single-member:hover .gs-member-name {
	transform: none !important;
}


div.gs_team_popup {
	border-radius: 0 !important;
}

.shortcode-section .header-intro-block h3 {
	margin-top: 0;
}

.shortcode-section .wpex.horizontal-timeline {
	overflow: hidden;
}

ul.gs-team-filter-cats, ul.search-filter {
	margin-top: 0 !important;
}

div.gs_tm_theme12 .single-member {
	margin-bottom: 40px;
}

div.gs_team_area .gs-containeer .gs-roow {
	margin-left: 0;
	margin-right: 0;
	max-width: $max-cont-w - 300px;
	margin: 0 auto;
	width: 100%;
}

div.gs-team-popup--default .gs-member-desc {
	color: $body-color;
	font-family: $font-body-light;
	font-size: 18px;
	line-height: 24px;
	@media screen and (min-width: $small-width) {
		font-size: 24px;
		line-height: 32px;
	}
}

.mfp-content--container {
	flex-wrap: wrap;
}

div.mfp-gsteam .mfp-container .mfp-arrow {
	background: rgba(255, 255, 255, .3) !important;
}

div.gs-team-popup--default .mfp-container .mfp-content .gs_team_popup .mfp-content--container .gs_team_popup_details {
	padding-left: 0 !important;
}

div.gs-team-popup--default .mfp-content--container .gs_team_popup_details {
	width: 100%;
	padding-left: 0 !important;
	@media screen and (min-width: $small-width) {
		width: 70%;
	}
}

div.gs-team-popup--default .mfp-content--container .gs_team_popup_left__wrapper {
	width: 100%;
	@media screen and (min-width: $small-width) {
		width: 30%;
		padding-right: 20px;
	}
}

.gs_team_area div.gs-col-lg-3 {
	@media (min-width: 1025px) {
		padding-right: 20px !important;
		padding-left: 20px !important;
		width: 25%;
		max-width: 25%;
	}
}

.gs_tm_theme12 .single-member-name-desig {
	position: relative;
	display: block;
}

div.gs-single-default .gs-team-single-content {
	box-shadow: none;
	width: 100%;
	display: block;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-left: 1.25rem !important;
	padding-right: 1.25rem !important;
	@media screen and (min-width: $small-width) {
		position: sticky;
		top: 175px;
		width: 50%;
		align-self: flex-start;
		padding-left: 1.25rem !important;
		padding-right: 2.5rem !important;
	}
}

div.gs-single-default .reviews {
	width: 100%;
	background: $lighter-blue;
	padding: 20px;
	@media screen and (min-width: $small-width) {
		width: 50%;
		padding: 35px;
	}
}

body.single-gs_team .gs_member_img {
	width: 100%;
}

body.single-gs_team .gs_member_details {
	width: 100%;
	padding-left: 0;
	padding-top: 25px;
	padding-bottom: 25px;
	border-top: 1px solid $navy;
}

div.gs-single-default .gs-team-single-content .gs_ribon_wrapper::after {
	display: none;
}

body.single .gs-containeer .gs_team {
	margin-top: 0;
}

.single .gs-containeer .gs_team {
	display: flex;
	flex-wrap: wrap;
	height: auto;
}

.reviews header {
	text-align: center;
	border-bottom: 1px solid $navy;
	margin-bottom: 25px;
}

div.gs-single-default .gs-team-single-content .gs_ribon_wrapper img {
	position: relative;
	max-width: 400px !important;
}

div.gs-single-container {
	width: 100%;
	max-width: $max-cont-w - 300px;
}

div.gs-archive-container, div.gs-single-container {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.reviews .resources-grid {
	display: grid;
	grid-template-columns: 1fr;
	@media screen and (min-width: $med-width) {
		grid-template-columns: 1fr 1fr;
	}

}

.reviews .resources-grid .wp-block-button {
	text-align: center;
	margin-top: 25px;
	@media screen and (min-width: $med-width) {
		margin-top: 35px;
		grid-column: 1/3;
	}
}

div.gs-single-default .gs-team-single-content .gs-sin-mem-name {
	font-size: 30px;
	@media screen and (min-width: $small-width) {
		font-size: 44px;
	}
}