body.logged-in .site-header {
	margin-top: 32px;
	@media screen and (max-width: 782px) {
		margin-top: 46px;
	}
}

body.nav-active {
	overflow:auto;
	@media screen and (min-width: $med-small-width) {
		overflow: scroll;
	}
}

body.nav-active .site-header:after {
	position: absolute;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	content: "";
	top: 0;
	left: 0;
	display: block;
	@media screen and (min-width: $med-small-width) {
		display: none;
	}
}

.menu-blurb {
	text-transform: uppercase;
	color: $bg-color-7;
	font-family: $font-head;
	text-align: center;
	font-weight: 700;
	margin: 15px auto;
	letter-spacing: 0.5px;
	font-size: 18px;
	display: flex;
	align-items: center;
	@media screen and (min-width: $small-width) {
		font-size: 22px;
		margin-left: -18%;
		margin-right: 0;
	}
}

.site-header {
	width: 100%;
}

a.custom-logo-link {
	display: block;
}

.site-header.override a.custom-logo-link {
	margin: 15px auto 0;
	@media screen and (min-width: $small-width) {
		margin: 0;
	}
}

.main-content-nav {
	background: $bg-color-6;
	z-index: 999;
	box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
	display: block;
	@media screen and (min-width: $med-small-width) {
		position: relative;
	}
}

.site-header .custom-logo {
	width: 300px;
	height: auto;
	display: block;
	@media screen and (min-width: $small-width) and (max-width: $med-width) {
		width: 200px;
	}
	@media screen and (min-width: $med-width + 1px) {
		width: 325px;
	}
}
.fixed-buttons {
	display: none;
	@media screen and (min-width: $med-small-width) {
		display: block;
	}
}

.main-content-nav .fixed-buttons {
	display: block;
	@media screen and (min-width: $med-small-width) {
		display: none;
	}
}

.main-navigation .menu-item-48094 .sub-menu {
	@media screen and (min-width: $med-small-width) {
		min-width: 375px;
	}
}


.site-header.fixed {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	animation: transitionDown 0.75s ease forwards;
}

.site-header .site-branding {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.nav-active .site-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

.site-header .site-title {
	text-indent: -10000px;
	font-size: 0;
	display: none;
	line-height: 0;
}

.site-header.override .main-navigation {
	justify-content: center;
	align-content: center;
}

.main-navigation .nav-menu > .menu-item > .sub-menu {
	display: flex;
	flex-wrap: wrap;
	padding-left: 15px;
	@media screen and (min-width: $med-small-width) {
		padding: 1.5rem;
	}
}

.main-navigation .sub-menu li.menu-item {
	font-style: italic;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 17px;
	position: relative;
	@media screen and (min-width: $med-small-width) {
		font-size: 19px;
		line-height: 24px;
		margin-bottom: 8px;
	}
}

.main-navigation .sub-menu li.menu-item:last-of-type {
	@media screen and (min-width: $small-width) {
		margin-bottom: 0;
	}
}

.menu-icon {
	display: inline-block;
	position: absolute;
	top: -3px;
	left: 0;
	width: inherit;
	max-width: 25px;
}

.menu-icon img {
	display: inline-block;
	max-width: 25px;
	width: 100%;
	transform: translateY(5px);
}

.main-navigation .sub-menu li.menu-item a {
	font-style: normal;
	display: inline;
	@media screen and (min-width: $med-small-width) {
		display: block;
	}
}
.main-navigation .sub-menu .sub-menu {
	margin-top: 8px;
	@media screen and (min-width: $med-small-width) {
		margin-top: 10px;
	}
	display: block;
}

.main-navigation .nav-menu > .menu-item > .sub-menu > .menu-item {
	width: 100%;
	color: $bg-color-7;
	@media screen and (min-width: $med-small-width) {
		margin-left: 0;
	}
}

.main-navigation ul ul ul {
	position: relative;
	background: none;
	box-shadow: none;
	border: none;
	border-radius: 0;
	float: none;
	padding-left: 0;
	padding-right: 0;
	min-width: auto;
	left: 0;
	@media screen and (min-width: $med-small-width) {
		left: 0;
	}
}

.menu-toggle {
	position: relative;
	z-index: 2;
	padding: 0;
	border: none;
	border-radius: 0;
	text-indent: -10000px;
	width: 30px;
	height: 30px;
	background: url(img/nav-open.svg) no-repeat center center / 100%;
	order: 2;
	margin-left: 7%;
	cursor: pointer;
	@media screen and (min-width: $med-small-width) {
		display: none;
	}
}

.menu-toggle[aria-expanded="true"] {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 11;
	background: url(img/nav-close.svg) no-repeat center center / 20px;
}

.menu-primary-button-menu-container .menu {
	display: block;
}

.site-header .site-description {
	text-indent: -10000px;
	font-size: 0;
	line-height: 0;
}

.site-header.override .wrapper {
	display: block;
	@media screen and (min-width: $small-width) {
		display: flex;
	}
}

.site-header .wrapper {
	max-width: $max-cont-w;
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: stretch;
	padding-left: .25rem;
	padding-right: .25rem;
	@media screen and (min-width: $small-width) {
		padding-left: 1.25rem;
		padding-right: 1.25rem;
	}
}

.site-header .main-content-nav .wrapper {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	@media screen and (min-width: $small-width) {
		padding-left: 1.25rem;
		padding-right: 1.25rem;
	}
}

.main-navigation button.toggle-menu {
	background: transparent url(img/down-chevron.svg) no-repeat center center / 15px;
	width: 30px;
	height: 30px;
	border: none;
	display: block;
	text-indent: -10000px;
	margin-top: -3px;
	cursor: pointer;
	@media screen and (min-width: $med-small-width) {
		display: none;
	}
}

.main-navigation {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	@media screen and (min-width: $med-small-width) {
		align-items: stretch;
	}
}

.site-header.override .main-wrapper {
	height: auto;
	@media screen and (min-width: $small-width) {
		height: 90px;
	}
}

.site-header .main-wrapper {
	height: 80px;
	@media screen and (min-width: $small-width) {
		height: 90px;
	}
}


.main-navigation.toggled .menu-primary-menu-container,
.main-navigation.toggled .menu-logged-out-container,
.main-navigation.toggled .menu-logged-in-container,
.main-navigation.toggled .menu-all-pages-container {
	display: flex;
	right: 0;
	transition-duration: 0.3s;
	transition-property: right;

}


.menu-primary-menu-container,
.menu-logged-out-container,
.menu-logged-in-container,
.menu-all-pages-container {
	align-items: flex-start;
	justify-content: flex-start;
	position: fixed;
	background: white;
	top: 0;
	right: -10000px;
	overflow: auto;
	flex: 1;
	width: 80%;
	height: 100vh;
	z-index: 10;
	@media screen and (min-width: $small-width) and (max-width: $med-small-width) {
		overflow: visible;
	}
	@media screen and (min-width: $med-small-width) {
		right: 0;
		display: flex;
		position: relative;
		top: inherit;
		left: inherit;
		align-items:  stretch;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 0;
		height: auto;
		overflow: visible;
		background: transparent;
		justify-content: flex-end;
	}
}


li.menu-item.nav-button a {
	@extend .wp-block-button__link;
	display: block;
	color: white;
	padding: 16px 25px 11px;
	background: $bg-color-5;
	font-size: 16px;
	line-height: 16px;
	&:hover {
		background: $navy;
		color: $bg-color-5;
	}
	@media screen and (min-width: $med-small-width) {
		font-size: 17px;
		line-height: 17px;
	}
}

.main-navigation .menu-item a,
.main-navigation .menu-item {
	color: $red;
	font-family: $font-head;
	font-size: 16px;
	text-align: left;
	text-transform: capitalize;
	display: inline-block;
	width: 100%;
	font-weight: 700;
	@media screen and (min-width: $large-width + 1px) {
		text-align: left;
		display: inline;
		width: auto;
		font-size: 18px;
		line-height: 23px;
	}
}

.main-navigation .menu-item a:hover {
	color: $navy;
}

.menu-primary-menu-container .menu-item,
.menu-all-pages-container .menu-item {
	margin-bottom: 0.5rem;
	@media screen and (min-width: $med-small-width) {
		margin-bottom: 0;
	}
	@media screen and (min-width: $small-width) and (max-width: $med-width) {
		margin-left: 0.4rem;
		margin-right: 0.4rem;
	}
	@media screen and (min-width: $med-width + 1px) and (max-width: $large-width) {
		margin-left: 0.75rem;
		margin-right: 0.75rem;
	}
	@media screen and (min-width: $large-width + 1px) {
		margin-left: 1.25rem;
		margin-right: 1.25rem;
	}
}

.main-navigation .menu > .menu-item.nav-button {
	@media screen and (min-width: $med-small-width) {
		padding-top: 22px;
		padding-bottom: 22px;
	}
}

.main-navigation .menu .menu-item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;	
}

.main-navigation .menu .menu-item {
	width: 100%;

	padding-top: 6px;
	margin-bottom: 15px;
	text-transform: uppercase;
	@media screen and (min-width: $med-small-width) and (max-width: $med-width) {
		margin-bottom: 0;
		width: auto;
	
		padding-top: 26px;
		padding-bottom: 26px;
		justify-content: center;
	}
	@media screen and (min-width: $med-width + 1px) {
		margin-bottom: 0;
		width: auto;

		padding-top: 26px;
		padding-bottom: 26px;
		justify-content: center;
	}
}

.main-navigation .menu-item:last-of-type {
	@media screen and (min-width: $small-width) and (max-width: $med-width) {
		margin-right: 0;
	}
	@media screen and (min-width: $med-width + 1px) {
		margin-right: 0;
	}
}

.main-navigation ul.nav-menu {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	flex-wrap:wrap;
	padding-top: 45px;
	padding-bottom: 100px;
	padding-left: 2.5rem;
	padding-right: 1.25rem;
	@media screen and (min-width:  $med-small-width) {
		padding-bottom: 0;
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
	}
}

.main-navigation .sub-menu li.menu-item a .menu-item {
	text-align: center;
	@media screen and (min-width:  $med-small-width) {
		text-align: left;
	}
}

.main-navigation .menu .sub-menu .menu-item {
	padding-top: 0;
	padding-bottom: 0;
}

.main-navigation .menu > .menu-item > .sub-menu {
	display: block;
	padding-top: 15px;
	@media screen and (min-width:  $med-small-width) {
		padding-top: 15px;
		background: rgba(255, 255, 255, 0.9);
		display: block;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
}

.main-navigation .sub-menu li.menu-item a {
	font-weight: 400;
	color: $bg-color-7;
	@media screen and (min-width:  $med-small-width) {
		margin-top: 0;
		font-weight: normal;
		margin-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
		display: block;
	}
}

.main-navigation .nav-menu > .menu-item.active > .sub-menu {
	display: block;
	@media screen and (min-width:  $med-small-width) {
		display: flex;
	}
}

// .main-navigation li.menu-item-has-children.active .sub-menu {
// 	display: block;
// }

// .site-header.fixed .secondary-navigation {
// 	height: 0;
// }

.secondary-navigation p {
	margin: 0;
	color: white;
	font-size: 14px;
	font-family: $font-head;
	line-height: 18px;
	margin-left: 0;
	letter-spacing: 0.5px;
	font-weight: 500;
	@media screen and (min-width: $small-width) {
		font-size: 17px;
		line-height: 24px;
		margin-left: 1.375rem;
	}
}

.secondary-navigation p a {
	color: white;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	position: relative;
	padding-right: 10px;
	padding-left: 10px;
	letter-spacing: 0.35px;
	@media screen and (min-width:  $small-width) {
		padding-right: 15px;
		padding-left: 15px;
	}
}

.secondary-navigation p:last-of-type a {
	padding-right: 0;
	@media screen and (min-width:  $small-width) {
		padding-right: 0;
	}
}

.main-navigation .sub-menu .menu-item a {
	width: 100%;
	font-size: 17px;
	color: $bg-color-4;
	font-family: $font-body;
	text-transform: none;
	line-height: 27px;
	position: relative;
	&:hover {
		color: $red;
	}
	@media screen and (min-width:  $med-small-width) {
		font-size: 18px;
		line-height: 28px;
		text-transform: none;
		color: $bg-color-4;
	}
}

.secondary-navigation {
	height: 40px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background: $red;
	transition-duration: .3s;
	transition-property: height;
	@media screen and (min-width: $small-width) {
		height: 50px;
	}
}

.secondary-navigation .wrapper {
	justify-content: center;
	@media screen and (min-width: $small-width) {
		justify-content: flex-end;
	}
}

.menu-secondary-menu-container {
	width: auto;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.menu-secondary-menu-container ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	@media screen and (min-width: $small-width) {
		justify-content: flex-start;
	}
}

.menu-secondary-menu-container .menu-item,
.menu-secondary-menu-container .menu-item a {
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	font-family: $font-body;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0;
	text-indent: -10000px;
	display: block;
	position: relative;
	@media screen and (min-width: $med-width + 1px) {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.2px;
		text-indent: 0;
	}
	@media screen and (min-width: $small-width) and (max-width: $med-width) {
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.2px;
		text-indent: 0;
	}
}

.menu-secondary-menu-container .menu-item a {
	width: 18px;
	height: 18px;
	@media screen and (min-width: $small-width) {
		width: auto;
		height: auto;
	}
}

.menu-item.phone {
	padding-left: 0;
}

.menu-item.phone a {
	padding-left: 26px;
	background: url($phone-white)  no-repeat center center / 18px;
	@media screen and (min-width: $small-width) {
		background: url($phone-white)  no-repeat center left / 20px;
	}
}

.menu-item.location a {
	padding-left: 26px;
	background: url($location)  no-repeat center center / 14px;
	@media screen and (min-width: $small-width) {
		background: url($location)  no-repeat center left / 16px;
	}
}

.menu-item.hours a {
	padding-left: 26px;
	background: url($clock-white)  no-repeat center center / 17px;
	@media screen and (min-width: $small-width) {
		background: url($clock-white)  no-repeat center left / 19px;
	}
}

.menu-secondary-menu-container .menu-item {
	margin-left: 8px;
	margin-right: 8px;
	@media screen and (min-width: $small-width) {
		margin-left: 1.5625rem;
		margin-right: 1.5625rem;
		margin-bottom: 0;
	}
}

.menu-secondary-menu-container .menu-item:last-of-type {
	@media screen and (min-width: $small-width) {
		margin-right: 0;
	}
}

.main-navigation ul > li:nth-of-type(4) ul {
	@media screen and (min-width: $med-small-width) {
		min-width: 375px;
	}
}

.main-navigation ul.nav-menu > li:last-of-type:hover > ul,
.main-navigation ul.nav-menu > li:last-of-type.focus > ul {
	@media screen and (min-width: $med-small-width) {
		right: 0;
		left: auto;
		transform: none;		
	}
}

.main-navigation ul.nav-menu > li:hover > ul,
.main-navigation ul.nav-menu > li.focus > ul {
	@media screen and (min-width: $med-small-width) {
		left: 50%;
		transform: translateX(-50%);
	}
}
