$font-head: 'Lato', sans-serif;
$font-head-black: 'Lato', sans-serif;
$font-head-alt: 'Lato', serif;
$font-body: 'Lato', sans-serif;
$font-body-light: 'Lato', sans-serif;

$head-color: #910035;
$head-alt-color: #EEA320;
$bg-blue: $head-alt-color;
$bg-grey: #414042;
$border-color: #ECA239;
$orange: #F99D33;
$bullet-color: #BE5B33;
$body-color: #000000;

$font-head-2: $font-head;

$border-color-2: #4d5057;
$bg-color-1: #3bc24a; // green
$bg-color-1: #3bc24a; // green
$bg-color-2: #F0F0F0; // grey
$bg-color-4: #4d4d4d; // dark grey
$bg-color-5: #F79A6C; // yellow
$bg-color-6: #ffffff; // white
$bg-color-7: #00395C; // blue
$tan: #F2EBDC;
$tan-2: #F2EBDB;
$navy: $bg-color-7;
$light-grey: #E6E7E8;
$dark-grey: #878787;
$dark-blue: #052C47;
$red: #0081C6;
$red: #910035;
$lighter-blue: #E2F0F7;
$purple: #671C61;
$peach: #FDEFE8;
$button-color-1: #F8AE2B;
// $head-color-2: $bg-color-3;
$teal-blue: #008FA0;
$blue-gradient: linear-gradient(to top, #29bcd1, #1c8f9e, #29bcd1);
$blue: #1C8F9E;
$yellow: #EEA320;
$teal: #1483C2;
$grey: #E6E6E6;
$dark-grey: #505050;

$med-width: 1250px;
$med-small-width: 1080px;
$small-med-width: 875px;
$small-width: 768px;
$form-width: 641px;
$xs-width: 480px;
$xx-width: 395px;
$search: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25.003' viewBox='0 0 25 25.003'%3E%3Cpath id='magnifying-glass-solid' d='M24.43,21.665l-5.845-5.845a10.156,10.156,0,1,0-2.763,2.766l5.845,5.845a1.954,1.954,0,0,0,2.763-2.766ZM3.863,10.157a6.25,6.25,0,1,1,6.25,6.25A6.257,6.257,0,0,1,3.863,10.157Z' transform='translate(-0.001 0)'/%3E%3C/svg%3E%0A";
$phone: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30.004' viewBox='0 0 30 30.004'%3E%3Cpath id='phone-solid' d='M.044,22.672l1.362,5.907A1.821,1.821,0,0,0,3.191,30,26.839,26.839,0,0,0,30,3.188,1.82,1.82,0,0,0,28.581,1.4L22.674.041a1.839,1.839,0,0,0-2.1,1.062L17.851,7.461A1.834,1.834,0,0,0,18.377,9.6l3.155,2.533a20.49,20.49,0,0,1-9.347,9.347L9.6,18.324A1.823,1.823,0,0,0,7.466,17.8L1.108,20.524A2,2,0,0,0,.044,22.672Z' transform='translate(0 0.006)' fill='%23910035'/%3E%3C/svg%3E%0A";
$calendar: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.875' height='25' viewBox='0 0 21.875 25'%3E%3Cpath id='calendar-days-solid' d='M7.813,1.563V3.125h6.25V1.563a1.563,1.563,0,0,1,3.125,0V3.125h2.344a2.344,2.344,0,0,1,2.344,2.344V7.813H0V5.469A2.344,2.344,0,0,1,2.344,3.125H4.688V1.563a1.563,1.563,0,0,1,3.125,0ZM0,9.375H21.875V22.656A2.344,2.344,0,0,1,19.531,25H2.344A2.344,2.344,0,0,1,0,22.656Zm3.125,5.469a.782.782,0,0,0,.781.781H5.469a.784.784,0,0,0,.781-.781V13.281a.784.784,0,0,0-.781-.781H3.906a.782.782,0,0,0-.781.781Zm6.25,0a.784.784,0,0,0,.781.781h1.563a.784.784,0,0,0,.781-.781V13.281a.784.784,0,0,0-.781-.781H10.156a.784.784,0,0,0-.781.781ZM16.406,12.5a.784.784,0,0,0-.781.781v1.563a.784.784,0,0,0,.781.781h1.563a.784.784,0,0,0,.781-.781V13.281a.784.784,0,0,0-.781-.781ZM3.125,21.094a.782.782,0,0,0,.781.781H5.469a.784.784,0,0,0,.781-.781V19.531a.784.784,0,0,0-.781-.781H3.906a.782.782,0,0,0-.781.781Zm7.031-2.344a.784.784,0,0,0-.781.781v1.563a.784.784,0,0,0,.781.781h1.563a.784.784,0,0,0,.781-.781V19.531a.784.784,0,0,0-.781-.781Zm5.469,2.344a.784.784,0,0,0,.781.781h1.563a.784.784,0,0,0,.781-.781V19.531a.784.784,0,0,0-.781-.781H16.406a.784.784,0,0,0-.781.781Z' fill='%23910035'/%3E%3C/svg%3E%0A";
$clock: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath id='gauge-solid' d='M0,12.5A12.5,12.5,0,1,1,12.5,25,12.5,12.5,0,0,1,0,12.5Zm15.625,4.688a3.113,3.113,0,0,0-1.953-2.9V4.3a1.172,1.172,0,0,0-2.344,0v10a3.124,3.124,0,1,0,4.3,2.9ZM7.031,8.594A1.563,1.563,0,1,0,5.469,7.031,1.562,1.562,0,0,0,7.031,8.594ZM6.25,12.5a1.563,1.563,0,1,0-1.562,1.563A1.563,1.563,0,0,0,6.25,12.5Zm14.063,1.563A1.563,1.563,0,1,0,18.75,12.5,1.563,1.563,0,0,0,20.313,14.063Zm-.781-7.031a1.563,1.563,0,1,0-1.562,1.563A1.563,1.563,0,0,0,19.531,7.031Z' fill='%23910035'/%3E%3C/svg%3E%0A";
$down_arrow: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.379' height='11.153' viewBox='0 0 18.379 11.153'%3E%3Cpath id='chevron-down-solid' d='M14.131,134.352l-8.179-8.179a1.01,1.01,0,0,1,0-1.428l.954-.954a1.01,1.01,0,0,1,1.427,0l6.513,6.482,6.513-6.482a1.01,1.01,0,0,1,1.427,0l.954.954a1.01,1.01,0,0,1,0,1.428l-8.179,8.179A1.01,1.01,0,0,1,14.131,134.352Z' transform='translate(-5.656 -123.495)'/%3E%3C/svg%3E%0A";
$up_arrow: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='9.103' viewBox='0 0 15 9.103'%3E%3Cpath id='chevron-down-solid' d='M12.573,132.356,5.9,125.68a.824.824,0,0,1,0-1.166l.779-.779a.824.824,0,0,1,1.164,0l5.315,5.291,5.315-5.291a.824.824,0,0,1,1.164,0l.779.779a.824.824,0,0,1,0,1.166l-6.676,6.676A.824.824,0,0,1,12.573,132.356Z' transform='translate(20.656 132.598) rotate(180)'/%3E%3C/svg%3E%0A";
$triangle: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='202.228' height='350' viewBox='0 0 202.228 350'%3E%3Cpath id='Path_787' data-name='Path 787' d='M-.288,424.181l202.228,350H-.088Z' transform='translate(0.288 -424.181)' opacity='0.08'/%3E%3Cpath id='Path_788' data-name='Path 788' d='M-.288,424.182l165.016,285.6H-.124Z' transform='translate(0.288 -359.778)' opacity='0.1'/%3E%3C/svg%3E%0A";
$location: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.799' height='25' viewBox='0 0 18.799 25'%3E%3Cpath id='location-dot-solid' d='M8.239,24.438C5.684,21.3,0,13.678,0,9.4a9.4,9.4,0,0,1,18.8,0c0,4.279-5.728,11.9-8.239,15.039a1.479,1.479,0,0,1-2.32,0ZM9.4,12.532A3.133,3.133,0,1,0,6.266,9.4,3.136,3.136,0,0,0,9.4,12.532Z' fill='%23fff'/%3E%3C/svg%3E%0A";
$phone-white: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.996' height='25' viewBox='0 0 24.996 25'%3E%3Cpath id='phone-solid' d='M.037,18.89l1.135,4.922a1.518,1.518,0,0,0,1.487,1.183A22.362,22.362,0,0,0,25,2.655a1.517,1.517,0,0,0-1.183-1.487L18.892.033a1.532,1.532,0,0,0-1.747.885l-2.271,5.3A1.528,1.528,0,0,0,15.312,8l2.629,2.111a17.072,17.072,0,0,1-7.788,7.788L8,15.267a1.519,1.519,0,0,0-1.781-.438L.923,17.1A1.665,1.665,0,0,0,.037,18.89Z' transform='translate(0 0.006)' fill='%23fff'/%3E%3C/svg%3E";
$clock-white: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath id='clock-solid' d='M12.5,25A12.5,12.5,0,1,1,25,12.5,12.5,12.5,0,0,1,12.5,25ZM11.328,12.5a1.049,1.049,0,0,0,.522.933l4.688,3.125a1.075,1.075,0,0,0,1.582-.283,1.131,1.131,0,0,0-.283-1.626l-4.165-2.773V5.859a1.179,1.179,0,0,0-1.216-1.172,1.2,1.2,0,0,0-1.172,1.172Z' fill='%23fff'/%3E%3C/svg%3E%0A";

$wp-min-width: 600px;

$max-cont-w : 1920px;