.wp-block.wp-block-cls-blocks-price-header {
	max-width: 100%;
}
.wp-block-cls-blocks-price-form.resources-wrap {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

.filter-resources.price-estimator .resources-block .resources {
	width: 100%;
	@media screen and (min-width: $small-width) {
		grid-column: 2/5;
	}
}

#gform_ajax_spinner_8 {
	display: none;
}

.form-wrap .wp-block-heading:first-of-type {
	margin-top: 0;
}

.alternatives h3 {
	margin-top: 0;
}

.alternatives {
	background: $lighter-blue;
	text-align: center;
	padding: 25px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.payment {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	border: 3px solid $red;
	padding: 25px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	@media screen and (min-width: $small-width) {
		padding: 35px;
	}
	@media screen and (min-width: $small-width) and (max-width: $med-width) {
		grid-column: 1/3;
	}
	@media screen and (min-width: $med-width + 1px) {
		grid-column: 1/4;
	}
}

.payment .payment_interior {
	width: 100%;
	@media screen and (min-width: $small-width) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
    	grid-column-gap: 20px;
    	grid-row-gap: 0;
	}
}

.lead-banner h3 {
	text-align: center;
	color: white;
}

.payment .small-print {
	margin-top: 15px;
	@media screen and (min-width: $small-width) { 
		grid-column: 1/4;
		margin-top: 20px;
	}
}

.payment_table {
	@media screen and (min-width: $small-width) { 
		grid-column: 2/4;
	}
}

.payment_table table {
	margin-bottom: 0;
	border-top: 4px solid $dark-blue;
	border-bottom: 4px solid $dark-blue;
}

.resources-grid .resource-card {
	padding-bottom: 0;
}

.lead-banner {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: center;
	background: $dark-blue;
	@media screen and (min-width: $small-width) and (max-width: $med-width) {
		grid-column: 1/3;
	}
	@media screen and (min-width: $med-width + 1px) {
		grid-column: 1/4;
	}
}

.payment h5 {
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 0;
	border-top: 4px solid $dark-blue;
	border-bottom: 1px solid $dark-blue;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.payment table {
	border-collapse: collapse;
}

.payment td {
	border-bottom: 1px solid $dark-blue;
}

.payment td {
	font-family: $font-body;
	color: $dark-blue;
}

.payment td:nth-of-type(odd) {
	text-align: left;
}

.payment td:nth-of-type(even) {
	text-align: right;
}

.payment h3 {
	text-transform: uppercase;
	font-size: 45px;
	line-height: 45px;
	border-bottom: 4px solid $dark-blue;
	margin-top: 0;
	margin-bottom: 0;
}

.payment h3 span {
	font-size: 14px;
}

.payment h3 sup {
	font-size: 14px;
	display: inline-block;
	line-height: 45px;
}

.payment p.small {
	font-size: 14px;
	line-height: 18px;
	text-align: right;
	font-style: italic;
	margin-top: 0;
	margin-bottom: 0;
}