.contact-section {
	width: 100%;
}

.contact-section.active {
	animation: backgroundShift 6s ease forwards;
}

.contact-section .block-wrapper {
	width: 100%;
}

.contact-section div.gform_wrapper .gform_heading {
	justify-content: flex-start;

}

.contact-section .header-intro-block .block-wrapper {
	text-align: left;
}

.contact-section .header-intro-block .block-wrapper {
	padding-left: 0;
	padding-right: 0;
}

.contact-section .form-wrap {
	max-width: 1100px;
}


.contact-section div.gform_wrapper .gform_heading,
.contact-section .wp-block-heading {
	margin-top: 0;
}

.contact-section .header-intro-block {
	padding-top: 0;
	padding-bottom: 0;
}

.contact-section .header-intro-block .block-content {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 1.875rem;
	@media screen and (min-width: $small-width) {
		padding-left: 0;
		padding-right: 3rem;
		padding-bottom: 3.75rem;
	}
}

.contact-section  .block-content {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.contact-section .form-column {
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
	@media screen and (min-width: $small-width) {
		padding-top: 6.5rem;
		padding-bottom: 7.5rem;
	}
}

.contact-section div.gform_wrapper fieldset {
	padding: 0;
	border: none;
}

.contact-section .form-wrap .block-content p {
	font-size: 20px;
	line-height: 28px;
	font-weight: 700;
	@media screen and (min-width: $small-width) {
		font-size: 24px;
		line-height: 38px;
	}
}

.hidden_label .gfield_label {
	display: none;
}

.contact-section .column {
	width: 100%;
	box-sizing: border-box;
	padding-right: 1.25rem;
	padding-left: 1.25rem;
	@media screen and (min-width: $small-width) {
		width: 50%;
		max-width: 50%;
		padding-right: 5rem;
		padding-left: 0;
	}
}

.contact-section .gform_title {
	margin-top: 2rem;
}

.contact-section .content-column {
	box-sizing: border-box;
	@media screen and (min-width: $small-width) {
		padding-right: 5rem;
	}
}

.contact-section .content p {
	color: white;
	font-size: 16px;
	line-height: 25px;
	font-family: $font-head;
	font-weight: bold;
	@media screen and (min-width: $small-width) {
		font-size: 18px;
		line-height: 29px;
	}
}

.contact-icon.fa {
	color: $button-color-1;
	font-size: 32px;
	line-height: 44px;
	margin-right: 1rem;
} 

.contact-section .icon-row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 1rem;
	@media screen and (min-width: $small-width) {
		margin-bottom: 1.85rem;
	}
}

p.contact-item a {
	text-decoration: none;
	
}

p.contact-item a,
p.contact-item {
	font-family: $font-body;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	margin-top: 0;
	margin-bottom: 0;
	letter-spacing: 0.35px;
	color: $dark-blue;
	@media screen and (min-width: $small-width) {
		font-size: 20px;
		line-height: 30px;
	}
}

.contact-section .header-suptitle {
	color: $bg-color-5;
	text-transform: none;
	font-family: $font-body;
	font-size: 20px;
	margin-bottom: 15px;
	@media screen and (min-width: $small-width) {
		font-size: 25px;
	}
}

.contact-section .header-title {
	margin-top: 0;
	text-transform: capitalize;
	margin-bottom: 20px;
	width: 100%;
}


.contact-icon {
	width: 17px;
	margin-right: 9px;
	@media screen and (min-width: $small-width) {
		width: 30px;
		margin-right: 10px;
	}
}

.contact-icon svg {
	max-width: 20px;
	display: block;
	height: auto;
	margin-top: 2px;
	@media screen and (min-width: $small-width) {
		max-width: 25px;
		margin-top: 10px;
	}
}

.wp-block.is-reusable {
	width: 100%;
	max-width: 100%;
}

.wp-block.contact-section {
	width: 100%;
	max-width: 100%;
	padding-top: 8.125rem;
	padding-bottom: 8.125rem;
}


.contact-section .block-content > .block-editor-inner-blocks {
	width: 100%;
}

.contact-section .block-content > .block-editor-inner-blocks > .block-editor-block-list__layout {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.contact-section .content {
	margin-bottom: 25px;
	@media screen and (min-width: $small-width) {
		margin-bottom: 45px;
	}
}

.contact-section .content-column iframe {
	width: 100%;
	height: 100%;
	min-height: 300px;
}

.contact-section .content-column .wp-block-buttons {
	margin-top: 30px;
	@media screen and (min-width: $small-width) {
		margin-top: 60px;
	}
}

.contact-icon.fa {
	color: $button-color-1;
	font-size: 32px;
	line-height: 44px;
	margin-right: 1rem;
} 

.contact-row {
	display: flex;
	align-items: flex-start;
}

.contact-controls {
	display: flex;
	align-items: flex-start;
	margin-bottom: 1.85rem;
}

.contact-controls .remove-icon {
	padding-left: 0;
}

.contact-section .header-title {
	margin-top: 0;
}

.contact-section.white .form-column {
	background: $bg-color-1;
}

.contact-section .icon-icon {
	width: 25px;
	height: 42px;
	margin-right: 20px;
	@media screen and (min-width: $small-width) {
		width: 30px;
		height: 50px;
		margin-right: 25px;
	}
}

p.contact-item {
	width: calc(100% - 45px);
	@media screen and (min-width: $small-width) {
		width: calc(100% - 55px)
	}
}

.contact-section .icon-icon svg {
	max-width: 25px;
	display: block;
	height: auto;
	margin-top: 8px;
	@media screen and (min-width: $small-width) {
		max-width: 30px;
	}
}
