.section-header, 
.wp-block.section-header {
	width: 100%;
	max-width: 100%;
}

.section-header *:first-of-type {
	margin-top: 0;
}

.section-header h4  {
	margin-bottom: 0.5rem;
	@media screen and (min-width: $small-width) {
		margin-bottom: 0.75rem;
	}
}